* {
    /* outline: 1px dotted black; */
    margin: 0px auto;
    padding: 0px;
  }
  
  .wrapper {
    width: 970px;
    min-height: 600px;
    padding: 30px;
    background-color: beige;
  }
  
  .App {
    text-align: center;
    background-color: lightgreen;
  }

  .info {
    text-align: center;
    background-color: greenyellow;
    margin-bottom: 10px;
  }